@model TaskDomain.DomainModel.UserDetailDm
@{
    ViewBag.Title = "EditUserDetails";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<h2>EditUserDetails</h2>

<div class="row-wrapper border-bottom white-bg page-heading">
    <br />
    <div class="col-lg-10">
        <h2><b>Edit User Details </b></h2>
    </div>
</div>
<div class="ibox-title">
    <h5>Add User</h5>
</div>

@using (Html.BeginForm("EditUserDetails", "Admin", FormMethod.Post))
{

    <div class="ibox-content">
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        @Html.Label("First Name")
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        @Html.Label("Last Name")
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                </div>
                <div></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">

                        @Html.Label("Phone no")
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone No" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">

                        @Html.Label("Email Id")
                    </label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Email Id - ex:abcd@gmail.com" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        @Html.Label("Role Name")
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.RoleId, (SelectList)ViewBag.List, "--Select Roles--", new { @class = "form-control", style = "160%" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        @Html.Label("Manager Name")
                    </label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.ManagerId, (SelectList)ViewBag.List1, "--Select Manager--", new { @class = "form-control", style = "160%" })
                    </div>
                </div>

                <input type="submit"  value="Update"class="btn btn-sm btn-success"/>
            @Html.HiddenFor(model => model.Id)
            </form>
        </div>
    </div>

}

