
@using PagedList;
@using PagedList.Mvc;
@model PagedList<TaskDomain.DomainModel.UserDetailDm>
@{
    ViewBag.Title = "ViewUserDetails";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div class="row-wrapper border-bottom white-bg page-heading" style="margin-left:-15px;margin-right:-15px;height:95px;">

    <div class="col-lg-10">
        <h2><b>ViewUserDetails</b></h2>
    </div>
    <div class="col-lg-2"></div>

</div>


<div class="wrapper wrapper-content">
    <div class="ibox-title">
        <h5>View User Details</h5>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" onclick="@("window.location.href='" + @Url.Action("SaveUserDetails","Admin") + "'");" />Add User <i class="fa fa-plus"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <table id="myTable" class="table table-striped table-bordered table-hover dataTables">

            <tr>
                @*<th>Id</th>*@
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email Id</th>
                <th>Role Name</th>
                <th>Manager Name</th>
           </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item != null)
                    {
                        @*<td>@item.Id</td>*@
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.EmailId</td>
                        <td>@item.RoleName</td>
                        <td>@item.ManagerName</td>
                        <td>

                            <a onclick="return confirm('Are you sure you want to delete?')" href="@Url.Action("DeleteUser", "Admin", new { id = item.Id })"><i class="fa fa-trash-o" style="color:red"></i></a>
                            |
                            <a href="@Url.Action("EditUserDetails", "Admin", new { id = item.Id })"><i class="fa fa-edit"></i></a>
                        </td>
                    }
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action("ViewUserDetails", new { page }))
    </div>
</div>