@using TaskDomain.DomainModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Task Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/jszip.min.js")"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Morris -->
    <link href="~/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <script src="~/js/jquery-2.1.1.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            var url = window.location;
            $('ul.nav a[href="' + url + '"]').parent().addClass('active');
            $('ul.nav a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');
        });



    </script>
</head>
@{
    var SessionResult = (UserdetailDm)Session["SessionData"];
    var Name = SessionResult.FirstName + " " + SessionResult.LastName;
    var singleCharacter = Name[0];
    var Role=SessionResult.RoleName;
    string userRoleName = SessionResult.RoleName;
}

<body class="pace-done" style="margin-top: -50px;">
    <div class="pace-done pace-inactive">
        <div class="pace-progress">
            <div class="pace-progress-inner">
            </div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="@singleCharacter" class="img-circle" style="font-size:xx-large" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@Name</strong>
                                    </span> <span class="text-muted text-xs block">@Role <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                @*<li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>*@
                                <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            TM
                        </div>
                    </li>
                    @if (userRoleName == "Employee")
                    {
                        <li>
                            <a href="@Url.Action("Dashboard", "Employee")"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>

                        </li>
                        
                            
                                <li>
                                    <a href="@Url.Action("MyTasks", "Employee")"> <span class="nav-label">My Tasks</span> </a>
                                </li>

                    }

                    @if (userRoleName == "Manager")
                    {
                        <li>
                            <a href="@Url.Action("Dashboard", "Manager")"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>

                        </li>
                        <li>
                            <a href=""><i class="fa fa-tasks"></i> <span class="nav-label">My Task </span> <span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level sidebar-collapse in">

                                <li>
                                    <a href="@Url.Action("CreateTask", "Manager")">Create Task    <i class="fa fa-plus"></i></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListTask", "Manager")">View Tasks       <i class="fa fa-eye"></i></a>
                                </li>


                            </ul>
                        </li>
                    }


                    @if (SessionResult.RoleName == "Admin")
                    {
                        <li>
                            <a href=""><i class="fa fa-user"></i> <span class="nav-label">Users </span> <span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level sidebar-collapse in">
                                <li>
                                    <a href="@Url.Action("SaveUserDetails", "Home")">Add User   <i class="fa fa-plus"></i></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ViewUserDetails", "Home")">View User  <i class="fa fa-eye"></i></a>
                                </li>

                            </ul>
                        </li>
                    }
                </ul>
            </div>

        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to Task Manager</span>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Login")">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                @RenderBody()
            </div>
            <div class="footer">
                <div>
                    <strong>Task Manager</strong> &copy; 2017-2018
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <!-- Peity -->
    <script src="~/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/js/demo/peity-demo.js"></script>

    <!-- Sparkline demo data  -->
    <script src="~/js/demo/sparkline-demo.js"></script>
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/respond.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
