@model TaskDomain.DomainModel.TaskDm

@{
    ViewBag.Title = "CreateTask";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";

}

<script src="~/Scripts/kendo/jquery.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/chosen/1.7.0/chosen.jquery.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/chosen/1.7.0/chosen.css"/>

@*<script src="@Url.Content("~/Scripts/jquery.json-2.2.min.js")" type="text/javascript"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="row-wrapper border-bottom white-bg page-heading" style="margin-left:-15px;margin-right:-15px;height:95px;">
    <br />
    <div class="col-lg-10">
        <h2><b>Add Task Details </b></h2>
    </div>
</div>


<div class="row">

    <div class="ibox float-e-margins">
        <div class="wrapper wrapper-content">
            <div class="ibox-title">
                <h5>Create New Task</h5>
            </div>




            @using (Html.BeginForm("CreateTask", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="ibox-content">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">
                                @Html.Label("Title")
                            </label>
                            <div class="col-lg-10" style="margin-bottom:10px;">
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">
                            @Html.Label("Assign To")
                        </label>
                    </div>
                        
                    

                    <div class="form-group">
                        <label class="col-lg-2 control-label">

                            @Html.Label("Start Date")
                        </label>
                        <div class="col-lg-10" style="margin-bottom:10px;">
                            @(Html.Kendo().DatePickerFor(model => model.StartDate)
                                      .Name("StartDate")
                                      .Value(DateTime.Now)
                                      .HtmlAttributes(new { @class = "form-control", style = "width: 280px" }))
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">

                            @Html.Label("End Date")
                        </label>
                        <div class="col-lg-10" style="margin-bottom:10px;">
                            @(Html.Kendo().DatePickerFor(model => model.EndDate)
                                      .Name("EndDate")
                                      .Value(DateTime.Now)
                                      .HtmlAttributes(new { @class = "form-control ", style = "width: 280px" }))
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">
                            @Html.Label("Description")
                        </label>
                        <div class="col-lg-10" style="margin-bottom:10px;">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Document, new { @class = "control-label col-md-2" })
                        <div class="col-md-10" style="margin-top: 8px">
                            @Html.TextBoxFor(model => model.Document, new { type = "file", name = "Document", multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Create" class="btn btn-success " />
                        </div>
                    </div>



                </form>
            </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    //$('#addNewAssigneeToBtn').click(function() {
    //    $('#AssignedTo').clone().appendTo('#addNewAssignedTo');
    //});

    $('.chosen-select').chosen();
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/kendo")
