@model TaskDomain.DomainModel.TaskDm

@{
    ViewBag.Title = "EditTask";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";

}

<script src="~/Scripts/kendo/jquery.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<div class="row-wrapper border-bottom white-bg page-heading" style="margin-left: -15px; margin-right: -15px; height: 95px;">
    <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")"></script>
    <link rel="stylesheet" href="~/Content/chosen.css" />
    <br/>
    <div class="col-lg-10">
        <h2><b>Edit Task Details </b>
        </h2>
    </div>
</div>


<div class="row">

    <div class="ibox float-e-margins">
        <div class="wrapper wrapper-content">
            <div class="ibox-title">
                <h5>Edit Task</h5>
            </div>
            @using (Html.BeginForm("EditTask", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                <div class="ibox-content">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">
                                @Html.Label("Title")
                            </label>
                            <div class="col-lg-10" style="margin-bottom:10px;">
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">
                                @Html.Label("Assign To")
                            </label>
                            <div class="clearfix">
                                <div class="col-lg-10  " style="margin-bottom: 10px; float: left" id="addAssignTo">
                                    
                                   @Html.ListBoxFor(model => model.AssignedTo,
                                    ViewBag.Employee as MultiSelectList, new { @class = "form-control chosen-select", style = "160%", multiple = true })
                                    @Html.ValidationMessageFor(model => model.AssignedTo, "", new {@class = "text-danger"})

                                    @*<div class="input-group" style="float: left">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" id="addNewAssigneeToBtn">
                            Add AssignTo <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </div>
                <div id="addNewAssignedTo"></div>*@
                                </div>

                            </div>
                        </div>
                        <div></div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">

                                @Html.Label("Start Date")
                            </label>
                            <div class="col-lg-10" style="margin-bottom:10px;">
                                @(Html.Kendo().DatePickerFor(model => model.StartDate)
                                      .Name("StartDate")
                                      .Value(Model.StartDate)
                                      .HtmlAttributes(new { @class = "form-control", style = "width: 280px" }))
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">

                                @Html.Label("End Date")
                            </label>
                            <div class="col-lg-10" style="margin-bottom:10px;">
                                @(Html.Kendo().DatePickerFor(model => model.EndDate)
                                      .Name("EndDate")
                                      .Value(Model.EndDate)
                                      .HtmlAttributes(new { @class = "form-control ", style = "width: 280px" }))
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">
                                @Html.Label("Description")
                            </label>
                            <div class="col-lg-10" style="margin-bottom:10px;">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Document, new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-top: 8px">
                                @Html.TextBoxFor(model => model.Document, new { type = "file", name = "Document", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })

                            </div>
                        </div> 
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Update" class="btn btn-success "/>
                            </div>
                        </div>


                    </form>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".chosen-select").chosen();
 
    $(".chosen-select").trigger("chosen:updated");
    $(".chosen-select").trigger("liszt:updated");
    $(".chosen-select").chosen().change();
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/kendo")
