@model TaskDomain.DomainModel.TaskDm
@{
    ViewBag.Title = "GetTaskDetails";


    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Task Details</h2>

    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content ">
                            <div class="row">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"><b>@Html.Label("Title :")</b></label>
                                        <div class="col-lg-4 control-label">@Html.TextBoxFor(m => m.Title, new { @class = "form-control", disabled = "disabled" })</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"><b>@Html.Label("Assigned Name:")</b></label>
                                        <div class="col-lg-4 control-label">@Html.TextBoxFor(m => m.AssignedToName, new { @class = "form-control", disabled = "disabled" })</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"><b>@Html.Label("Created By:")</b></label>
                                        <div class="col-lg-4 control-label">@Html.TextBoxFor(m => m.CreatedByName, new { @class = "form-control", disabled = "disabled" })</div>
                                    </div>
                                  

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"><b>@Html.Label("Task Description :")</b></label>
                                        <div class="col-lg-4 control-label">@Html.TextAreaFor(m => m.Description, new { @class = "form-control", style = "resize:none;", disabled = "disabled" })</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"><b>@Html.Label("Created Date :")</b></label>
                                        <div class="col-lg-4 control-label">@Html.TextBoxFor(m => m.CreateDate, Model.CreateDate.ToString("MM/dd/yyyy"), new { @class = "form-control", disabled = "disabled" })</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"><b>@Html.Label("Task Status :")</b></label>
                                        <div class="col-lg-4 control-label">@Html.TextBoxFor(m => m.TaskStatus, new { @class = "form-control", disabled = "disabled" })</div>
                                    </div>

                                    <div class="col-lg-9 animated fadeInRight">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @foreach (var item in Model.TaskDocuments)
                                                {
                                                    if (item != null)
                                                    {
                                                        var filePath = item.DocumentPath;
                                                        var number = filePath.LastIndexOf('\\') + 1;

                                                        var fileName = filePath.Substring(number);
                                                        <div class="file-box">
                                                            <div class="file">
                                                                <a href="@Url.Action("Download", "Employee", new {FileName = filePath})">
                                                                    <span class="corner"></span>

                                                                    <div class="icon myextension" data-path="@fileName">
                                                                        <i id="fileicon" class="fa fa-file"></i>
                                                                    </div>
                                                                    <div class="file-name">
                                                                        @fileName
                                                                        <br/>
                                                                        <small>@item.CreateDate.Value.ToShortDateString()</small>
                                                                    </div>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">

                    </div>

                </div>
            </div>
        </div>
    </div>







</div>

<!-- Mainly scripts -->
<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.js"></script>
<!-- Custom and plugin javascript -->
<script src="~/js/inspinia.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
        
        var res = $('.myextension')[0];
        var result = $(res).attr('data-path');
        var extension = result.split('.');
        $('#fileicon').removeClass('fa fa-file');
        if (extension[1] == "png") {

            $('#fileicon').addClass('fa fa-image');
        }
        else if (extension[1] == "pdf") {
            $('#fileicon').addClass('fa fa-pdf');
        }
        else if (extension[1] == "xls") {
            $('#fileicon').addClass('fa fa-xls');
        } else if (extension[1] == "txt" || extension[1] == "Text") {
            $('#fileicon').addClass('fa fa-text');
        } else {
            $('#fileicon').addClass('fa fa-file')
        }


    });

</script>








